@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

@keyframes progress {
  0% { transform: translateX(0) scaleX(0); }
  40% { transform: translateX(0) scaleX(0.4); }
  100% { transform: translateX(100%) scaleX(0.5); }
}

.progress {
  animation: progress 1s infinite linear;
}

.left-right {
  transform-origin: 0% 50%;
}

.bg-surface {
  background-color: #1a1a1a;
}

.bg-surface-elevated {
  background-color: #2b2b2b;
}

@layer utilities {
  .input-glow {
    @apply 
      transition-shadow
      hover:shadow-[0_0_10px_rgba(255,255,255,0.5)]
      focus:shadow-[0_0_10px_rgba(0,255,255,0.8)]
      focus:outline-none;
  }
  .interactive-button {
    @apply  
      cursor-pointer
      focus-visible:outline-none
      focus-visible:ring-2 focus-visible:ring-white/30;
  }
  .interactive-dark {
    @apply  
      hover:bg-white/10
      active:bg-white/20
      focus-visible:ring-white/30;
  }
  .interactive-light {
    @apply 
      hover:bg-white/90
      active:bg-white/80
      focus-visible:ring-white/70;
  } 
  .interactive-light {
    @apply 
      hover:bg-white/90
      active:bg-white/80
      focus-visible:ring-white/70;
  }
}



:root {
  --shadow-white: 0 0 10px rgba(255, 255, 255, 0.5);
  --shadow-cyan: 0 0 15px rgba(0, 255, 255, 0.8);
}

.hover-white-glow:hover {
  box-shadow: var(--shadow-white);
  transition: box-shadow 0.2s ease-in-out;
}

.focus-cyan-glow:focus {
  box-shadow: var(--shadow-cyan);
  transition: box-shadow 0.2s ease-in-out;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
